<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="author" content="Juan Peixoto (JP)">
    <meta name="description" content="Simple web system to practice and study about login and sessions">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Home page</title>
</head>

<body>
    <main class="main-content-container">
        <h1 class="title">Logged in successfully, session active</h1>
        <button class="button logout-button">LOGOUT</button>
    </main>
</body>

</html>