<!DOCTYPE html>
<html lang="en">

    <%- include('head.ejs') %>

    <body>
        <main>
            <h1>Logged in successfully, session active</h1>
            <button class="logout-button">LOGOUT</button>
        </main>
    </body>

</html>