<!DOCTYPE html>
<html lang="en">

    <%- include('head.ejs') %>

    <body>
        <main class="main-content-container">
            <h1 class="title">Logged in successfully, session active</h1>
            <button class="button logout-button">LOGOUT</button>
        </main>
    </body>

</html>