<!DOCTYPE html>
<html lang="en">

    <%- include('head.ejs') %>

    <body>
        <main>
            <h1>Resgistration page</h1>

            <form method="post" action="">
                
                <%- include('user-form-field.ejs') %>

                <%- include('password-form-field.ejs') %>

                <fieldset>
                    <img src="/images/lock.png" />
                    <input class="input" type="password" name="password" id="password"
                        placeholder="Repeat your password" autocomplete="off" required>
                </fieldset>

                <button type="submit">ENTER</button>
            </form>
        </main>
    </body>

</html>